main{
    display: block;
}
section {
    display: inline;
    flex-direction: column;
}


.items {
    display: flex;
    flex-direction: row;
    
}
.dot-part:hover {
    outline: 1px green solid;

}

.dot-part{
    
    
    padding-right: 30px;
}
.date-part{
    width: 150px;
    padding-right: 20px;
}
.content-part{
    width: 400px;
    padding-left: 20px;

}
.date-part:hover{
    outline: 1px red solid;
}

.content-part:hover{
    outline: 1px blue solid;
    background-color:gray;
}